:root {
  --black_for_text: #393646;
  --gray1: #4f4557;
  --gray2: #6d5d6e;
  --gray2-1: whitesmoke;
  --white: #f4eee0;
  --red: rgb(115, 25, 25);
  --input_background: rgb(53, 50, 50);
  --triangle_px: calc(1.2vw);
}

* {
  margin: 0;
}

body {
  background-color: var(--white);
  background-color: #269;
  background-color: #fff;
  background-image: linear-gradient(
      90deg,
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
}

.main_content {
  width: 80vw;
  margin: 0 auto 5rem auto;
  background: var(--gray2-1);
  height: fit-content;
  padding: 1rem 2rem;
  border-radius: 0 0 0.5rem 0.5rem;
  /* border: #393646 2px solid; */
  box-shadow: 0 0 5rem 1rem #252525ae;
}

.hedding {
  text-align: center;
  color: var(--black_for_text);
  font-size: 1.5rem;
  border: var(--gray2) 1px solid;
  padding: 1rem;
  border-radius: 8px;
  width: fit-content;
  margin: auto;
  background: var(--white);
  box-shadow: 0px 0px 50px -20px var(--red);
  text-shadow: 0 0 1rem rgba(213, 38, 38, 0.547);
}

.canvas {
  width: 80%;
  height: 20rem;
  border-radius: 1rem;
  margin: 2rem auto;
  box-shadow: 0 0 5rem 1rem #25252549;
  position: relative;
  display: grid;
  place-items: center;
}

.bim {
  position: relative;
  background-color: gray;
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 35px,
    rgba(255, 255, 255, 0.5) 35px,
    rgba(255, 255, 255, 0.5) 70px
  );
  border: 1px solid black;
  height: 2rem;
  width: 80%;
}

.tiangle_A {
  width: 0;
  height: 0;
  top: 100%;
  left: calc(-1 * var(--triangle_px));
  position: absolute;
  border-left: var(--triangle_px) solid transparent;
  border-right: var(--triangle_px) solid transparent;
  border-bottom: calc(2 * var(--triangle_px)) solid #252525;
}

.base_A {
  position: absolute;
  width: calc(3.5 * var(--triangle_px));
  height: var(--triangle_px);
  border-top: #252525 solid 1px;
  background: rgb(249, 248, 246);
  background: linear-gradient(
    0deg,
    rgba(249, 248, 246, 1) 6%,
    rgba(36, 34, 30, 1) 99%
  );
  transform: translate(-50%, 100%);
  top: var(--triangle_px);
}

.tiangle_B {
  width: 0;
  height: 0;
  top: 100%;
  right: calc(-1 * var(--triangle_px));
  position: absolute;
  border-left: var(--triangle_px) solid transparent;
  border-right: var(--triangle_px) solid transparent;
  border-bottom: calc(2 * var(--triangle_px)) solid #252525;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.base_B {
  position: absolute;
  width: calc(3.5 * var(--triangle_px));
  height: var(--triangle_px);
  border-top: #252525 solid 1px;
  background: rgb(249, 248, 246);
  background: linear-gradient(
    0deg,
    rgba(249, 248, 246, 1) 6%,
    rgba(36, 34, 30, 1) 99%
  );
  transform: translate(-50%, 150%);
  top: var(--triangle_px);
}

.circle_1,
.circle_2,
.circle_3 {
  height: calc(0.5 * var(--triangle_px));
  width: calc(0.5 * var(--triangle_px));
  background-color: #e65f16;
  border-radius: 50%;
}
.circle_1 {
  transform: translate(
    calc(-1 * var(--triangle_px)),
    calc(2 * var(--triangle_px))
  );
}
.circle_2 {
  transform: translate(
    calc(-0.7 * var(--triangle_px)),
    calc(2 * var(--triangle_px))
  );
}
.circle_3 {
  transform: translate(
    calc(-0.5 * var(--triangle_px)),
    calc(2 * var(--triangle_px))
  );
}

.arrow {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  border-left: calc(var(--triangle_px) * 0.3) solid transparent;
  border-right: calc(var(--triangle_px) * 0.3) solid transparent;
  border-bottom: calc(3 * var(--triangle_px)) solid #1277ad7a;
  rotate: 180deg;
  transform: translate(
    calc(var(--triangle_px) * 0.3),
    calc(3 * var(--triangle_px))
  );
}

.arrow_name {
  position: absolute;
  rotate: 180deg;
  font-size: var(--triangle_px);
  transform: translate(50%, -250%);
  color: rgb(34, 4, 73);
}

.scheme {
  width: 60%;
  display: flex;
  margin: auto;
  flex-direction: column;
  position: relative;
}

.drawing {
  border: #393646 solid 1px;
  border-radius: 16px;
  width: 100%;
  margin: 1rem auto;
}

/* canvas--------------------------------- */

.canvas_text_A,
.canvas_text_B {
  position: absolute;
  top: 80%;
  font-size: 1.5rem;
}

.canvas_text_A {
  left: -7%;
}

.canvas_text_B {
  left: 104%;
}

.O_section {
  height: 2rem;
  width: 0.5rem;
  background-color: #269;
  position: absolute;
  left: var(--O_percent);
  transform: translateX(-50%);
}

.O_section h1 {
  font-size: 1.5rem;
  position: absolute;
  top: 80%;
  left: 0.5rem;
}

.O_line {
  height: 5rem;
  width: 0.1rem;
  background-color: #252525;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.O_line_45 {
  height: 1rem;
  width: 0.1rem;
  background-color: #252525;
  position: absolute;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
  rotate: 45deg;
}

.zero_section {
  height: 2rem;
  width: 0.5rem;
  background-color: rgba(34, 101, 153, 0);
  position: absolute;
  transform: translateX(-50%);
}

.zero_line {
  height: 5rem;
  width: 0.1rem;
  background-color: #252525;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.zero_line_45 {
  height: 1rem;
  width: 0.1rem;
  background-color: #252525;
  position: absolute;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
  rotate: 45deg;
}

.horizontal_O {
  width: var(--O_percent);
  height: 0.01rem;
  top: 345%;
  position: absolute;
  background: #252525;
}

#a_text,
#L_text {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  position: absolute;
  top: -2rem;
}

.L_size,
.L_size_rigrht {
  height: 10rem;
  width: 0.1rem;
  background-color: #f80c0c;
  position: absolute;
  transform: translateX(-50%);
}

.L_size_rigrht {
  right: 0;
  transform: translateX(50%);
}

.L_line_45 {
  height: 1rem;
  width: 0.1rem;
  background-color: #f80c0c;
  position: absolute;
  top: 9rem;
  left: 50%;
  transform: translateX(-50%);
  rotate: 45deg;
}

.L_line {
  height: 0.1rem;
  width: 100%;
  background: #f80c0c;
  top: 9.5rem;
  position: absolute;
}

#Ra {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 10rem;
  font-size: 1rem;
  border: #252525 1px solid;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: inset 0px 0px 20px 2px rgba(87, 87, 87, 0.3);
}

/* ---------------------------------canvas */

.btn {
  width: 8rem;
  margin: auto;
  padding: 0.4rem;
  border-radius: 0.3rem;
  border: none;
  color: rgb(18, 18, 18);
  font-weight: 600;
  /* text-shadow: 0 0 1px #252525; */
  display: grid;
  grid-template-columns: 1fr 5fr;
  place-items: center;
  box-shadow: inset 0px 0px 33px 4px rgba(0, 0, 0, 0.43);
  cursor: pointer;
  font-weight: 600;
}

.input {
  width: 4rem;
  border-radius: 0.4rem;
  border: none;
  padding: 0 0.6rem;
  height: 2rem;
  margin: 1rem;
  background-color: whitesmoke;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.1);
  border: 5px rgba(198, 226, 143, 0.225) solid;
}

.input:focus {
  box-shadow: inset 0px 0px 7px 4px rgba(0, 0, 0, 0.111);
  outline: none;
}

.small_div {
  display: flex;
  place-items: center;
  justify-content: space-around;
  width: fit-content;
}

.L_a_Ra {
  width: 50%;
  min-width: 20rem;
  margin: auto;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.111);
}

.small_div h1 {
  font-size: 1.5rem;
}

#L,
#a {
  font-size: 1.3rem;
  width: 4rem;
}

.P_X {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  width: 50%;
  min-width: 20rem;
  margin: auto;
  border: #f40a0a16 1px dotted;
  justify-content: space-between;
  place-items: center;
  box-shadow: inset 0px 0px 7px 4px rgba(0, 0, 0, 0.111);
}

.Pnumber {
  font-size: 1.5rem;
  padding: 0;
  width: fit-content;
}

#add {
  background-color: #f2be22;
}

.btn-success {
  background-color: #5d9c59;
}

.btn-danger {
  background-color: #ff0303;
}

.buttons {
  display: flex;
  width: 60%;
  gap: 1rem;
  height: fit-content;
  padding: 1rem 0;
  min-width: 30rem;
  margin: auto;
}

.footer {
  position: fixed;
  bottom: 0;
}

.f {
  background-color: var(--black_for_text);
  color: var(--white);
  display: grid;
  place-items: center;
  height: 3rem;
  width: 100vw;
  border-radius: 0;
  opacity: 0.9;
  z-index: 1;
}

.f h1 {
  font-size: 1.2rem;
  z-index: 3;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.underline a {
  color: var(--white);
}

.underline a:hover {
  color: #269;
}

.QR {
  position: absolute;
  bottom: -20vh;
  width: 10rem;
  height: 10rem;
  width: fit-content;
  height: fit-content;
  border: var(--black_for_text) solid 1rem;
  border-radius: 1rem;
  width: 10rem;
  height: auto;
  display: block;
  animation-name: none;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0ms;
  animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
  opacity: 1;
  z-index: 0;
}

@keyframes moveUp {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-70vh);
  }
}

@keyframes movedown {
  0% {
    transform: translateY(-70vh);
  }
  100% {
    transform: translateY(70vh);
  }
}
